
#main-wrapper{
    background-color: #FEC8D8;
    margin-left: 50px;
    text-align: center;
    margin-right: 50px;
    align-items: center;
    padding:30px;
    padding-left: 50px;
}
body{
    background-color: #957DAD;
}
.new{
    padding-left: 550px;
}
.box{
    color:#000080;
}
.inner_container{
    
    text-align:center;
}
.button-22 {
    padding-left: 50px;
  align-items: center;
  appearance: button;
  background-color: #0276FF;
  border-radius: 8px;
  border-style: none;
  box-shadow: rgba(255, 255, 255, 0.26) 0 1px 2px inset;
  box-sizing: border-box;
  color: #fff;
  cursor: pointer;
  display: flex;
  flex-direction: row;
  flex-shrink: 0;
  font-family: "RM Neue",sans-serif;
  font-size: 100%;
  line-height: 1.15;
  margin: 0;
  padding: 10px 21px;
  text-align: center;
  text-transform: none;
  transition: color .13s ease-in-out,background .13s ease-in-out,opacity .13s ease-in-out,box-shadow .13s ease-in-out;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
}

.button-22:active {
  background-color: #006AE8;
}

.button-22:hover {
  background-color: #1C84FF;
}